/* Importing Space Grotesk from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');

header {
    width: 100%;
    background-color: #2e2e2e;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500; /* Using the 500 weight, but you can change it */
    text-align: center;
    color: #ffffff;
    margin: 0;
    font-size: 24px;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#imagePreview {
    display: none;
}

#fileReinputTitle, #fileInput {
    display: none;
}

label[for="fileInput"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

label[for="fileInput"]:hover {
    background-color: #45a049;
}

#imagePreview, #canvas {
    max-width: 100%;
    max-height: 500px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.dropdown {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    /* appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none; */
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAWElEQVRIDbXBAQEAAAABIP6PzgpVceGQAU8JdAjQgCYEqEJgCoRmBKgTMA0BNGlaA9SQM4EqBFC5zJ0JUI0DjAAKgfoCAAFgSggAX8GkCBRw0RPQAAAAAElFTkSuQmCC') no-repeat right center #fff;
    background-size: 15px;
    width: 200px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #2e2e2e;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #1e1e1e;
}

label {
    margin-bottom: 10px;
}
